@import 'reset.scss';

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    -moz-transform: $property;
    transform: $property;
}

$transparent: transparent;

$white: #FFFFFF;
$grey: #B8C2CC;
$grey-lightest: #f8f8f8;
$grey-lighter: #efefef;
$grey-light: #dadada;
$grey-dark: #8795A1;
$grey-darker: #949ea8;
$grey-darkest: #3D4852;
$black: #22292F;

$main-color: #01161E;
$main-color-shade: #FBFBFB;

$border-radius-none: 0;
$border-radius-sm: .125rem;
$border-radius-default: .25rem;
$border-radius-lg: .5rem;
$border-radius-full: 9999px;

.user-input-label {
    padding-bottom: .2em;
    padding-top:.4em;
}

.user-input {
    margin-bottom:.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.25;
    padding-bottom: .5em;
    padding-left: .625em;
    padding-right: .625em;
    padding-top: .5em;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #363636;
    //box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin: 0;
}


.router-btn {
    text-align:center;
    display: block;
    line-height:50px;
    margin-top: auto;
}

.router-link {
    text-decoration: none;
    cursor: pointer;
    padding-top: 1rem
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.form-card {
    margin: 2rem;
    padding: 2rem;
}

.form-heading {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100vw;
}

.container {
    display: flex;
}

.center-container {
    align-items: center;
    flex-direction: column;
}

html, body {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 8px;
}

.column {
    flex: 25%;
    max-width: 200px;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.site-heading {
    margin: 2rem;
    color: $main-color-shade;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.imgStyle {
    max-height: 85vh;
}

.titleCenter {
    text-align: center;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtext {
    font-style: italic;
    font-size: .8rem;
    margin-top: .1rem;
    padding-bottom: 1em;
}

.lightBoxStyleImg {
    position: fixed;
    z-index: 2;
    max-width: 90%;
    max-height: 95vh;
    width: auto;
    height: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightBoxStyleDiv {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index: 1;
    color: white;
}

.arrowSvg {
    filter: invert(1);
    position: fixed;
    z-index: 2;
    top: 50%;
    max-width: 5%;
}

.arrowSvgLeft {
    left: 0vw;
    @include transform(scaleX(-1));
}

.arrowSvgRight {
    max-width: 5%;
    filter: invert(1);
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 95vw;
}

.hidden {
    visibility: hidden;
}

.wrapper {
    margin-bottom: 3em;
    background-color: $main-color-shade;
}

.subtitle {
    align-self: flex-start;
    padding: 8px;
}

body {
    font-family: Arial, Helvetica, "sans-serif";
    background-color: $main-color;
}

img {
    width: 20em;
}

.heading {
    margin-left: 0;
    height: 2em;
    background-color: $main-color-shade;
    align-self: flex-start;
    display: flex;
}

.heading > h3 {
    margin: auto 2.5em;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid $main-color-shade;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid $main-color-shade;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-bottom: 2em solid $main-color-shade;
    transform: translate(-2em, 0);
}

.arrow-up-right {
    transform: translate(-2em, 0);
}

.arrow-up-left {
    transform: translate(2em, 0);
}

.heading-container {
    display: flex;
}

.photo-heading {
    margin: 2em auto;
}
